.menu{
    position: fixed;
    margin-top: 20px;
    font-size: 13px;
    z-index: 10;
    left: 30px;
}


.buttons-section-fxd {
    position: fixed;
    top: 10px;
    height: 20px;
}

.buttons-section{
    height: 31px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.btn-own {
    padding: 20px 20px;    
    border: 0 none;
    border-radius: 6px;
    font-family: Montserrat;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    color:red;
    background: none;
}